@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}
@model Employee

<h1>@ViewData["Title"] of @Model.Name</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Customer</th>
            <th scope="col">Executor</th>
            <th scope="col">StartDate</th>
            <th scope="col">EndDate</th>
            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project projects in Model.Projects)
        {
        <tr>
            <td>@projects.Id</td>
            <td>@projects.Name</td>
            <td>@projects.Customer</td>
            <td>@projects.Executor</td>
            <td>@projects.StartDate</td>
            <td>@projects.EndDate</td>
            <td>@projects.Priority</td>
        </tr>
        }
    </tbody>
</table>
